/*VARIABLES*/

//===================== 1. FONT =====================//
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600,700&display=swap");
// @import "fonts/fonts";
// @import "../fonts/icons";

$primary-fontFamily: "Montserrat", sans-serif;
$secondary-fontFamily: "Open Sans", sans-serif;
$primary-fontSize: rem(16);

//===================== 2. COLOR =====================//
$neutral-10: #ffffff;
$neutral-20: #eeeeef;
$neutral-30: #e8e8e9;
$neutral-40: #dcddde;
$neutral-50: #c3c4c6;
$neutral-60: #a4a5a9;
$neutral-70: #808288;
$neutral-80: #6f7279;
$neutral-90: #555860;
$neutral-100: #1c202c;

$text-primary-color: $neutral-100;
$primary-main: #00aec5;
$primary-shadow: #008b9e;
$turquoise: #40e2e2;
$blue: #6dc8ff;
$purple: #ad86f5;
$red: #e96283;
$orange: #fa905e;
$yellow: #fccd20;

//===================== BOXSHADOW =====================//
$imageShadow: 0px rem(64) rem(64) rem(-32) rgba(0, 0, 0, 0.24);

//===================== BORDER =====================//

//===================== BACKGROUND =====================//

//===================== TEXT-SHADOW =====================//

//===================== ANIMATION =====================//
// $primary-curve: cubic-bezier(0.62, 0.05, 0.01, 0.99);
// $primary-duration: 1.25s;
// $primary-delay: 0.07s;
// $base-translate3d: translate3d(0, 0, 0);
// $base-clipPath: inset(0 0 0 0);
// $base-scale3d: scale3d(1, 1, 1);

//===================== BREAKPOINTS =====================//
$minWidth: 375;
$maxWidth: 1920;
$maxWidthContainer: 1440;
$containerPadding: 480;
$containerWidth: $maxWidthContainer + $containerPadding;

$pc: em(1439.98);
$tablet: em(1023.98);
$mobile: em(767.98);
$mobileSmall: em(414.98);

//===================== BASED ON BRAKPOINTS =====================//
[class*="__container"] {
	margin: 0 auto;
	max-width: rem($maxWidthContainer);
	box-sizing: content-box;
	padding: 0 rem(math.div($containerPadding, 2));

	@media (max-width: $pc) {
		max-width: rem(1312);
		padding: 0 rem(64);
	}
	@media (max-width: $tablet) {
		max-width: rem(944);
		padding: 0 rem(40);
	}
	@media (max-width: $mobile) {
		max-width: rem(688);
	}
	@media (max-width: $mobileSmall) {
		max-width: none;
		padding: 0 rem(16);
	}
}
