.footer {
	position: relative;
	min-height: rem(67);
	padding: 1.5rem 0;
	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: percent(703, 67);
		background-image: radial-gradient(50% 86.13% at 50% 100%, rgba(64, 226, 226, 0.46) 0%, rgba(64, 226, 226, 0) 100%);
		@media (max-width: $mobile) {
			height: percent(644, 107);
		}
		@media (max-width: $mobileSmall) {
			height: percent(555, 107);
		}
	}
	// .footer__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: $tablet) {
			flex-direction: column;
			gap: 1.5rem;
		}
	}

	// .footer__col
	&__col {
		// .footer__col_left
		&_left {
		}
		// .footer__col_right
		&_right {
		}
	}
	// .footer__socials
	&__socials {
	}
	.page_RENAME-ME & {
		&::before {
			height: percent(652, 67);
			background-image: radial-gradient(36.99% 66.55% at 97.22% 96.01%, #ffbb98 0%, rgba(255, 173, 136, 0) 100%);
		}
	}
}
.footer-socials {
	display: flex;
	align-items: center;
	gap: rem(44);
	@media (max-width: $mobile) {
		gap: rem(33);
	}
	// .footer-socials__item
	&__item {
	}
	// .footer-socials__link
	&__link {
		font-family: $secondary-fontFamily;
		font-size: rem(14);
		line-height: math.div(19, 14);
		color: $neutral-100;
	}
}
.logo-footer {
	width: rem(112);
	height: rem(16);
}
