.header {
	position: absolute;
	z-index: 12;
	width: 100%;
	height: 100%;
	display: flex;
	pointer-events: none;
	.menu-hovered &,
	.menu-open & {
		pointer-events: all;
	}
	// .header__container
	&__container {
		z-index: 12;
		display: flex;
		justify-content: center;
		align-items: center;
		height: rem(148);
		@media (min-width: $mobile) {
			height: rem(136);
		}
	}
	// .header__logo
	&__logo {
	}
	// .header__menu
	&__menu {
	}
}

//MENU
.menu {
	position: fixed;
	inset: 0;
	z-index: 13;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: rem(72) 4rem rem(77);
	@media (max-width: $pc) {
		padding: rem(72) 2.5rem rem(77);
	}
	.menu-open & {
		z-index: 999;
	}
	// .menu__gradients
	&__gradients {
	}
	.gradient-menu {
		position: absolute;
		inset: 0;
		opacity: 0;
		transition: opacity 0.15s ease 0s;
		.menu-open & {
			opacity: 1;
			transition: opacity 0.4s ease 0.6s;
		}
		&.menu-gradient-red {
			.gradient-menu__item_main {
				opacity: 0;
			}
			.gradient-menu__item_red {
				opacity: 1;
			}
		}
		&.menu-gradient-blue {
			.gradient-menu__item_main {
				opacity: 0;
			}
			.gradient-menu__item_blue {
				opacity: 1;
			}
		}
		&.menu-gradient-purple {
			.gradient-menu__item_main {
				opacity: 0;
			}
			.gradient-menu__item_purple {
				opacity: 1;
			}
		}
		// .gradient-menu__item
		&__item {
			position: absolute;
			inset: 0;
			animation: gradient 15s ease infinite;
			transition: opacity 1.5s ease 0s;
			// .gradient-menu__item_main
			&_main {
				background-image: radial-gradient(48.04% 86.41% at 65.24% 124.09%, $turquoise 0%, $neutral-100 100%);
				background-size: 200% 200%;
			}
			// .gradient-menu__item_red
			&_red {
				opacity: 0;
				background-image: radial-gradient(48.04% 86.41% at 65.24% 124.09%, $red 0%, $neutral-100 100%);
				background-size: 200% 200%;
			}
			// .gradient-menu__item_blue
			&_blue {
				opacity: 0;
				background-image: radial-gradient(48.04% 86.41% at 65.24% 124.09%, $blue 0%, $neutral-100 100%);
				background-size: 200% 200%;
			}
			// .gradient-menu__item_purple
			&_purple {
				opacity: 0;
				background-image: radial-gradient(48.04% 86.41% at 65.24% 124.09%, $purple 0%, $neutral-100 100%);
				background-size: 200% 200%;
			}
		}
	}
	// .menu__icon
	&__icon {
		// .menu__icon_pc
		&_pc {
			.touch & {
				display: none;
			}
		}
		// .menu__icon_mobile
		&_mobile {
			z-index: 2;
			display: block;
			position: fixed;
			top: 90%;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			align-items: center;
			gap: 0.5rem;
			padding: 0.5rem 1rem;
			background: #000;
			border-radius: 2rem;
			color: $neutral-10;
			transition: opacity 0.3s ease 0s;
			&:not(.touch &) {
				display: none;
			}
			.menu-open & {
				opacity: 0;
			}
		}
	}
	// .menu__header
	&__header {
	}
	// .menu__footer
	&__footer {
	}
}
.header-menu {
	position: relative;
	z-index: 11;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 2rem;
	@media (max-width: $mobile) {
		flex-direction: column-reverse;
	}
	// .header-menu__col
	&__col {
		display: flex;
		align-items: center;
		gap: rem(80);
	}
	// .header-menu__col-left
	&__col-left {
	}
	// .header-menu__col-right
	&__col-right {
		@media (max-width: $mobile) {
			width: 100%;
			justify-content: space-between;
		}
	}
	// .header-menu__navigation
	&__navigation {
		padding-top: rem(170);
		@media (max-width: $pc) {
			padding-top: rem(82);
		}
		@media (max-width: $mobile) {
			padding-top: 2rem;
		}
	}
	// .header-menu__list
	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(18);
	}
	// .header-menu__item
	&__item {
		display: flex;
		align-items: center;
		opacity: 0;
		transform: translateY(-100%);
		pointer-events: none;
		transition: transform 0.3s, opacity 0.3s;
		transition-timing-function: ease-in;
		&:nth-child(1) {
			transition-delay: 0s;
		}
		&:nth-child(2) {
			transition-delay: 0.05s;
		}
		&:nth-child(3) {
			transition-delay: 0.1s;
		}
		&:nth-child(4) {
			transition-delay: 0.15s;
		}
		&:nth-child(5) {
			transition-delay: 0.2s;
		}
		&:nth-child(6) {
			transition-delay: 0.25s;
		}
		.menu-open & {
			opacity: 1;
			transform: translateY(0) rotate(0);
			pointer-events: auto;
			transition-timing-function: ease;
			transition: transform 0.3s, opacity 0.3s;
			&:nth-child(1) {
				transition-delay: 0.85s;
			}
			&:nth-child(2) {
				transition-delay: 0.8s;
			}
			&:nth-child(3) {
				transition-delay: 0.75s;
			}
			&:nth-child(4) {
				transition-delay: 0.7s;
			}
			&:nth-child(5) {
				transition-delay: 0.65s;
			}
			&:nth-child(6) {
				transition-delay: 0.6s;
			}
		}

		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: flex-start;
			gap: 1rem;
		}
		@media (max-width: $mobile) {
			gap: 1.5rem;
		}
	}
	// .header-menu__link
	&__link {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-size: rem(48);
		line-height: math.div(59, 48);
		font-weight: 900;
		color: $neutral-10;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $turquoise;
			}
		}
		&:hover {
			+ .header-menu__sub-list {
				pointer-events: all;
				li {
					opacity: 1;
					transform: translateY(0) rotate(0);
					pointer-events: auto;
					transition-timing-function: ease;
					transition: transform 0.3s, opacity 0.3s;
					&:nth-child(2) {
						transition-delay: 0.3s;
					}
					&:nth-child(4) {
						transition-delay: 0.4s;
					}
					&:nth-child(6) {
						transition-delay: 0.5s;
					}
				}
			}
		}
		&._active {
			&::before {
				content: "";
				width: 0.5rem;
				height: 0.5rem;
				border-radius: 50%;
				background-color: $turquoise;
			}
		}
	}
	// .header-menu__sub-list
	&__sub-list {
		display: flex;
		align-items: center;
		padding: rem(20) rem(20) rem(20) rem(76);
		@media (max-width: $tablet) {
			padding: 0.5rem 0.5rem 0.5rem 0rem;
		}
		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: flex-start;
			padding: 0;
			gap: 1rem;
			margin-bottom: 1rem;
		}
		pointer-events: none;
		&:hover {
			pointer-events: all;
			li {
				opacity: 1;
				transform: translateY(0) rotate(0);
				pointer-events: auto;
				transition-timing-function: ease;
				transition: transform 0.3s, opacity 0.3s;
				&:nth-child(2) {
					transition-delay: 0.3s;
				}
				&:nth-child(4) {
					transition-delay: 0.4s;
				}
				&:nth-child(6) {
					transition-delay: 0.5s;
				}
			}
		}
	}
	// .header-menu__sub-item
	&__sub-item {
		transition: transform 0.3s, opacity 0.3s;
		transition-timing-function: ease-in;
		@media (min-width: $pc) {
			transform: translateY(-100%);
			opacity: 0;
			pointer-events: none;
		}
		&:nth-child(1) {
			transition-delay: 0.1s;
		}
		&:nth-child(2) {
			transition-delay: 0.05s;
		}
		&:nth-child(3) {
			transition-delay: 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					cursor: default;
				}
			}
		}
	}
	// .header-menu__sub-link
	&__sub-link {
		font-size: rem(18);
		line-height: math.div(22, 18);
		color: $neutral-10;
		transition: color 0.3s ease 0s;
		&:not(span) {
			padding: 1rem 2rem;
			@media (max-width: $tablet) {
				padding: 0rem 2rem;
			}
			@media (max-width: $mobile) {
				padding: 0;
			}
		}
	}
	// .header-menu__close
	&__close {
		scale: 0;
		transition: scale 0.15s ease 0s;
		.menu-open & {
			scale: 1;
			transition: scale 0.3s ease 0.7s;
		}
	}
}
.footer-menu {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	color: $neutral-10;
	@media (max-width: $tablet) {
		flex-direction: column;
		align-items: flex-start;
		gap: 2.25rem;
	}
	@media (max-width: $mobile) {
		gap: rem(28);
	}
	// .footer-menu__pc-visible
	&__pc-visible {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		gap: 1rem;
		@media (min-width: $tablet) {
			display: none;
		}
	}
	// .footer-menu__brief
	&__brief {
		opacity: 0;
		transform: translateY(100%);
		pointer-events: none;
		transition: transform 0.3s ease-in 0.15s, opacity 0.3s ease-in 0.15s, background-color 0.3s ease 0s, color 0.3s ease 0s;

		.menu-open & {
			opacity: 1;
			transform: translateY(0) rotate(0);
			pointer-events: auto;
			transition: transform 0.3s ease 0.6s, opacity 0.3s ease 0.6s, background-color 0.3s ease 0s, color 0.3s ease 0s;
		}
	}
	// .footer-menu__socials
	&__socials {
	}
	// .footer-menu__contacts
	&__contacts {
	}
}
.socials-menu {
	display: flex;
	align-items: center;
	gap: rem(40);
	// .socials-menu__link
	&__link {
		font-family: $secondary-fontFamily;
		font-size: rem(14);
		line-height: math.div(19, 14);
		color: $neutral-10;

		opacity: 0;
		transform: translateY(100%);
		pointer-events: none;
		transition: transform 0.3s, opacity 0.3s;
		transition-timing-function: ease-in;
		&:nth-child(1) {
			transition-delay: 0.15s;
		}
		&:nth-child(2) {
			transition-delay: 0.1s;
		}
		&:nth-child(3) {
			transition-delay: 0.05s;
		}
		&:nth-child(4) {
			transition-delay: 0s;
		}
		.menu-open & {
			opacity: 1;
			transform: translateY(0) rotate(0);
			pointer-events: auto;
			transition-timing-function: ease;
			transition: transform 0.3s, opacity 0.3s;
			&:nth-child(1) {
				transition-delay: 0.6s;
			}
			&:nth-child(2) {
				transition-delay: 0.65s;
			}
			&:nth-child(3) {
				transition-delay: 0.7s;
			}
			&:nth-child(4) {
				transition-delay: 0.75s;
			}
		}
	}
}
.contacts-menu {
	@extend .socials-menu;
	@media (max-width: $pc) {
		flex-direction: column;
		align-items: flex-end;
		gap: 0.75rem;
	}
	@media (max-width: $tablet) {
		align-items: flex-start;
	}
	// .contacts-menu__link
	&__link {
		@extend .socials-menu__link;
	}
}
.icon-menu {
	&:not(.touch) {
		z-index: 15;
		opacity: 0;
		position: fixed;
		top: 50%;
		left: -1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(24);
		height: rem(18);
		padding: 1.5rem;
		cursor: pointer;
		transition: left 0.5s ease 0s, opacity 0.3s ease 0s;
		svg {
			flex-shrink: 0;
		}
		.menu-hovered &,
		.menu-visible & {
			opacity: 1;
			left: 0;
		}
		.lock & {
			opacity: 0;
			transition: left 0s ease 0s, opacity 0.3s ease 0.4s;
		}
		.menu-hovered & {
			transition: left 0.3s ease 0.2s, opacity 0.15s ease 0.2s;
		}
		.menu-hovered.menu-open & {
			opacity: 0;
			transition: all 0.3s ease 0s;
		}
		.menu-open & {
			pointer-events: none;
		}
	}
	.touch & {
		display: none;
	}
}
