.header {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: flex;
	pointer-events: none;
	.menu-hovered &,
	.menu-open & {
		pointer-events: all;
	}
	// .header__container
	&__container {
		z-index: 2;
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: rem(136);
	}
	// .header__menu
	&__menu {
	}
}
//MENU
.menu {
	position: fixed;
	inset: 0;
	z-index: 3;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: rem(72);
	padding-bottom: rem(77);
	.menu-open & {
		z-index: 999;
	}
	// .menu__gradient
	&__gradient {
		position: absolute;
		inset: 0;
		background: radial-gradient(48.04% 86.41% at 65.24% 124.09%, #40e2e2 0%, #1e2836 100%);
		background-size: 200% 200%;
		animation: gradient 15s ease infinite;
		opacity: 0;
		transition: opacity 0.15s ease 0s;
		.menu-open & {
			opacity: 1;
			transition: opacity 0.4s ease 0.6s;
		}
	}
	// .menu__icon
	&__icon {
	}
	// .menu__header
	&__header {
	}
	// .menu__footer
	&__footer {
	}
}
.header-menu {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	// .header-menu__col
	&__col {
		display: flex;
		align-items: center;
		gap: rem(80);
	}
	// .header-menu__col-left
	&__col-left {
	}
	// .header-menu__col-right
	&__col-right {
	}
	// .header-menu__navigation
	&__navigation {
		padding-top: rem(170);
	}
	// .header-menu__list
	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(18);
	}
	// .header-menu__item
	&__item {
		display: flex;
		align-items: center;
		opacity: 0;
		transform: translateY(-100%);
		pointer-events: none;
		transition: transform 0.3s, opacity 0.3s;
		transition-timing-function: ease-in;
		&:nth-child(1) {
			transition-delay: 0s;
		}
		&:nth-child(2) {
			transition-delay: 0.05s;
		}
		&:nth-child(3) {
			transition-delay: 0.1s;
		}
		&:nth-child(4) {
			transition-delay: 0.15s;
		}
		&:nth-child(5) {
			transition-delay: 0.2s;
		}
		&:nth-child(6) {
			transition-delay: 0.25s;
		}
		.menu-open & {
			opacity: 1;
			transform: translateY(0) rotate(0);
			pointer-events: auto;
			transition-timing-function: ease;
			transition: transform 0.3s, opacity 0.3s;
			&:nth-child(1) {
				transition-delay: 0.85s;
			}
			&:nth-child(2) {
				transition-delay: 0.8s;
			}
			&:nth-child(3) {
				transition-delay: 0.75s;
			}
			&:nth-child(4) {
				transition-delay: 0.7s;
			}
			&:nth-child(5) {
				transition-delay: 0.65s;
			}
			&:nth-child(6) {
				transition-delay: 0.6s;
			}
		}
	}
	// .header-menu__link
	&__link {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-size: rem(48);
		line-height: math.div(59, 48);
		font-weight: 900;
		color: $neutral-10;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $turquoise;
			}
		}
		&:hover {
			+ .header-menu__sub-list {
				pointer-events: all;
				li {
					opacity: 1;
					transform: translateY(0) rotate(0);
					pointer-events: auto;
					transition-timing-function: ease;
					transition: transform 0.3s, opacity 0.3s;
					&:nth-child(2) {
						transition-delay: 0.3s;
					}
					&:nth-child(4) {
						transition-delay: 0.4s;
					}
					&:nth-child(6) {
						transition-delay: 0.5s;
					}
				}
			}
		}
		&._active {
			&::before {
				content: "";
				width: 0.5rem;
				height: 0.5rem;
				border-radius: 50%;
				background-color: $turquoise;
			}
		}
	}
	// .header-menu__sub-list
	&__sub-list {
		display: flex;
		align-items: center;
		padding: rem(20) rem(20) rem(20) rem(56);
		pointer-events: none;
		&:hover {
			pointer-events: all;
			li {
				opacity: 1;
				transform: translateY(0) rotate(0);
				pointer-events: auto;
				transition-timing-function: ease;
				transition: transform 0.3s, opacity 0.3s;
				&:nth-child(2) {
					transition-delay: 0.3s;
				}
				&:nth-child(4) {
					transition-delay: 0.4s;
				}
				&:nth-child(6) {
					transition-delay: 0.5s;
				}
			}
		}
	}
	// .header-menu__sub-item
	&__sub-item {
		opacity: 0;
		transform: translateY(-100%);
		pointer-events: none;
		transition: transform 0.3s, opacity 0.3s;
		transition-timing-function: ease-in;
		&:nth-child(1) {
			transition-delay: 0.1s;
		}
		&:nth-child(2) {
			transition-delay: 0.05s;
		}
		&:nth-child(3) {
			transition-delay: 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					cursor: default;
				}
			}
		}
	}
	// .header-menu__sub-link
	&__sub-link {
		font-size: rem(18);
		line-height: math.div(22, 18);
		color: $neutral-10;
		transition: color 0.3s ease 0s;
		&:not(span) {
			padding: 1rem 2rem;
		}
	}
	// .header-menu__close
	&__close {
		scale: 0;
		transition: scale 0.15s ease 0s;
		.menu-open & {
			scale: 1;
			transition: scale 0.3s ease 0.7s;
		}
	}
}
.footer-menu {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	color: $neutral-10;
	// .footer-menu__brief
	&__brief {
		opacity: 0;
		transform: translateY(100%);
		pointer-events: none;
		transition: transform 0.3s, opacity 0.3s;
		transition-timing-function: ease-in;
		transition-delay: 0.15s;

		.menu-open & {
			opacity: 1;
			transform: translateY(0) rotate(0);
			pointer-events: auto;
			transition-timing-function: ease;
			transition: transform 0.3s, opacity 0.3s;
			transition-delay: 0.6s;
		}
	}
	// .footer-menu__socials
	&__socials {
	}
	// .footer-menu__contacts
	&__contacts {
	}
}
.socials-menu {
	display: flex;
	align-items: center;
	gap: rem(40);
	// .socials-menu__link
	&__link {
		font-family: $secondary-fontFamily;
		font-size: rem(14);
		line-height: math.div(19, 14);
		color: $neutral-10;

		opacity: 0;
		transform: translateY(100%);
		pointer-events: none;
		transition: transform 0.3s, opacity 0.3s;
		transition-timing-function: ease-in;
		&:nth-child(1) {
			transition-delay: 0.15s;
		}
		&:nth-child(2) {
			transition-delay: 0.1s;
		}
		&:nth-child(3) {
			transition-delay: 0.05s;
		}
		&:nth-child(4) {
			transition-delay: 0s;
		}
		.menu-open & {
			opacity: 1;
			transform: translateY(0) rotate(0);
			pointer-events: auto;
			transition-timing-function: ease;
			transition: transform 0.3s, opacity 0.3s;
			&:nth-child(1) {
				transition-delay: 0.6s;
			}
			&:nth-child(2) {
				transition-delay: 0.65s;
			}
			&:nth-child(3) {
				transition-delay: 0.7s;
			}
			&:nth-child(4) {
				transition-delay: 0.75s;
			}
		}
	}
}
.contacts-menu {
	@extend .socials-menu;
	// .contacts-menu__link
	&__link {
		@extend .socials-menu__link;
	}
}
.icon-menu {
	z-index: 5;
	opacity: 0;
	position: fixed;
	top: 50%;
	left: 0;
	display: block;
	width: rem(24);
	height: rem(18);
	cursor: pointer;
	transition: left 0.5s ease 0s, opacity 0.3s ease 0s;
	span,
	&::before,
	&::after {
		content: "";
		transition: all 0.3s ease 0s;
		right: 0;
		position: absolute;
		width: 100%;
		height: rem(2);
		background-color: $turquoise;
		border-radius: 8px;
	}
	&::before {
		top: 0;
	}
	&::after {
		bottom: 0;
	}
	span {
		top: calc(50% - rem(1));
	}
	// .menu-open & {
	// 	opacity: 0;
	// 	span {
	// 		width: 0;
	// 	}
	// 	&::before,
	// 	&::after {
	// 	}
	// 	&::before {
	// 		top: calc(50% - rem(1));
	// 		transform: rotate(-45deg);
	// 	}
	// 	&::after {
	// 		bottom: calc(50% - rem(1));
	// 		transform: rotate(45deg);
	// 	}
	// }
	.menu-hovered & {
		opacity: 1;
		left: rem(16);
	}
	.menu-hovered.menu-open & {
		opacity: 0;
		transition: all 0.3s ease 0s;
	}
	.menu-open & {
		pointer-events: none;
	}
}
