/*TYPOGRAPHY*/

h1,
.h1 {
	font-weight: 900;
	line-height: 1;
	@include adaptiveValue("font-size", 104, 80, $containerWidth, 767.98, 1);
}

h2,
.h2 {
	font-weight: 900;
	@include adaptiveValue("font-size", 80, 48, $containerWidth, 767.98, 1);
	@include adaptiveValue("line-height", math.div(59, 48), 100%, $containerWidth, 767.98, 1);
}

h3,
.h3 {
	font-weight: 900;
	@include adaptiveValue("font-size", 36, 24, $containerWidth, 767.98, 1);
	@include adaptiveValue("line-height", math.div(44, 36), math.div(29, 24), $containerWidth, 767.98, 1);
}

h4,
.h4 {
	font-weight: 900;
	line-height: 1.2;
	@include adaptiveValue("font-size", 24, 20, $containerWidth, 767.98, 1);
}

h5,
.h5 {
	font-weight: 800;
	@include adaptiveValue("font-size", 24, 18, $containerWidth, 767.98, 1);
	@include adaptiveValue("line-height", math.div(29, 24), math.div(22, 18), $containerWidth, 767.98, 1);
}

h6,
.h6 {
	font-weight: 700;
	@include adaptiveValue("font-size", 18, 16, $containerWidth, 767.98, 1);
	@include adaptiveValue("line-height", math.div(18, 22), math.div(20, 16), $containerWidth, 767.98, 1);
}

.p1 {
	font-weight: 600;
	@include adaptiveValue("font-size", 48, 32, $containerWidth, 767.98, 1);
	@include adaptiveValue("line-height", math.div(59, 48), math.div(39, 32), $containerWidth, 767.98, 1);
}
.p2 {
	line-height: 1.5;
	font-weight: 600;
	@include adaptiveValue("font-size", 24, 20, $containerWidth, 767.98, 1);
}
.p3 {
	font-weight: 400;
	@include adaptiveValue("font-size", 24, 20, $containerWidth, 767.98, 1);
	@include adaptiveValue("line-height", math.div(33, 24), math.div(27, 20), $containerWidth, 767.98, 1);
}
.p4 {
	font-weight: 400;
	@include adaptiveValue("font-size", 18, 16, $containerWidth, 767.98, 1);
	@include adaptiveValue("line-height", 150%, math.div(22, 16), $containerWidth, 767.98, 1);
}
.p5 {
	line-height: 1.5;
	font-weight: 600;
	@include adaptiveValue("font-size", 16, 14, $containerWidth, 767.98, 1);
}
.p6 {
	font-weight: 400;
	line-height: 1.5;
	@include adaptiveValue("font-size", 16, 14, $containerWidth, 767.98, 1);
}
.capt-1 {
	font-weight: 400;
	font-size: rem(14);
	line-height: math.div(19, 14);
}
.capt-2 {
	font-weight: 400;
	font-size: rem(14);
	line-height: math.div(17, 14);
	text-transform: uppercase;
}

.p2,
.p3,
.p4,
.p5,
.p6,
.capt-1 {
	font-family: $secondary-fontFamily;
}
