@import "home";
@import "contact";
@import "about";

.page {
	.menu-open & {
	}
	// .page_home
	&_home {
	}
	// .page_contacts
	&_contacts {
		padding-top: rem(136);
		& [class*="__container"] {
			max-width: 1312px;
		}
	}
	// .page_about
	&_about {
		padding-top: rem(136);
		& [class*="__container"] {
			max-width: 1312px;
		}
	}
}
