.blog {
	padding: 96px 0;
	// .blog__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 48px;
	}
	// .blog__filter
	&__filter {
	}
	// .blog__list
	&__list {
	}
	// .blog__article
	&__article {
	}
	// .blog__more-button
	&__more-button {
		margin-top: 96px;
		align-self: center;
	}
}
.blog-article {
	display: flex;
	justify-content: space-between;
	gap: 80px;
	padding-top: 96px;
	// .blog-article__col
	&__col {
		// .blog-article__col_left
		&_left {
			flex: 0 0 674px;
		}
		// .blog-article__col_right
		&_right {
			flex: 0 0 558px;
		}
	}
	// .blog-article__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2rem;
	}
	// .blog-article__image
	&__image {
		padding-top: 62.545%;
	}
	// .blog-article__tags
	&__tags {
	}
	// .blog-article__title
	&__title {
	}
	// .blog-article__date
	&__date {
		color: $neutral-90;
	}
}
