.contact-action {
	// .contact-action__container
	&__container {
	}
	// .contact-action__inner
	&__inner {
		display: flex;
		justify-content: space-between;
		gap: 48px;
		padding: 96px 0;
	}
	// .contact-action__col
	&__col {
		// .contact-action__col_left
		&_left {
		}
		// .contact-action__col_right
		&_right {
		}
	}
}
.contact-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 56px;
	// .contact-info__row
	&__row {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
		// .contact-info__row_first
		&_first {
		}
		// .contact-info__row_second
		&_second {
		}
		// .contact-info__row_third
		&_third {
		}
		// .contact-info__row_last
		&_last {
			max-width: 528px;
		}
	}
	// .contact-info__title
	&__title {
		color: $neutral-60;
	}
	// .contact-info__link-list
	&__link-list {
		&:not(.contact-info__row_first &) {
			display: flex;
			align-items: center;
			gap: 2rem;
		}
		.contact-info__row_first & {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
	}
	// .contact-info__link-item
	&__link-item {
	}
	// .contact-info__link
	&__link {
		display: flex;
		align-items: center;
		.contact-info__row_second & {
			gap: 1rem;
		}
		.contact-info__row_third & {
			gap: 0.5rem;
		}
	}
}
.fw-image {
	padding-top: 29.167%;
}
.short-us {
	padding: 96px 0;
	gap: 48px;
	// .short-us__container
	&__container {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
	}
	// .short-us__title
	&__title {
		max-width: 420px;
		&:not(._principles &) {
			color: $neutral-80;
		}
	}
	// .short-us__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2rem;
		max-width: 640px;
	}
	// .short-us__text
	&__text {
		white-space: pre-line;
	}
	// .short-us__link
	&__link {
	}
	// .short-us__list
	&__list {
	}
}
.short-us-list {
	@extend %listCounter;
	// .short-us-list__list-item
	&__list-item {
	}
	// .short-us-list__title
	&__title {
	}
	// .short-us-list__text
	&__text {
	}
}
.feedbacks {
	padding: 112px 0 96px;
	// .feedbacks__container
	&__container {
		display: flex;
		gap: 48px;
	}
	// .feedbacks__col
	&__col {
		// .feedbacks__col_left
		&_left {
			flex: 0 0 336px;
		}
		// .feedbacks__col_right
		&_right {
		}
	}
	// .feedbacks__title
	&__title {
	}
	// .feedbacks__slider
	&__slider {
	}
	// .feedbacks__controls
	&__controls {
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
	// .feedbacks__button
	&__button {
		// .feedbacks__button_prev
		&_prev {
		}
		// .feedbacks__button_next
		&_next {
		}
	}
}
.feedback-slider {
	width: 640px;
	overflow: visible !important;
	// .feedback-slider__wrapper
	&__wrapper {
		margin-bottom: 1.5rem;
	}
	// .feedback-slider__slide
	&__slide {
	}
}
.feedback-slide {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 44.5px;
	max-width: 640px;
	padding: 32px 24px 32px 32px;
	background: $neutral-10;
	border-radius: 16px;
	// .feedback-slide__rate
	&__rate {
	}
	// .feedback-slide__text
	&__text {
	}
	// .feedback-slide__from
	&__from {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .feedback-slide__from-name
	&__from-name {
		color: $neutral-90;
	}
	// .feedback-slide__from-about
	&__from-about {
		color: $neutral-80;
	}
}
