.contact-action {
	padding: 6rem 0;
	@media (max-width: $tablet) {
		padding: 4rem 0 6rem;
	}
	@media (max-width: $mobile) {
		padding: 3.5rem 0 0;
	}
	// .contact-action__container
	&__container {
	}
	// .contact-action__inner
	&__inner {
		display: flex;
		justify-content: space-between;
		gap: 3rem;
		padding-top: 7rem;
		@media (max-width: $pc) {
			flex-direction: column;
		}
		@media (max-width: $tablet) {
			padding-top: 4rem;
		}
		@media (max-width: $mobile) {
			padding-top: 3.5rem;
			gap: 3.5rem;
		}
	}
	// .contact-action__col
	&__col {
		// .contact-action__col_left
		&_left {
		}
		// .contact-action__col_right
		&_right {
			max-width: rem(944);
		}
	}
}
.contact-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 3.5rem;
	@media (max-width: $pc) {
		gap: 2rem;
	}
	// .contact-info__row
	&__row {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
		// .contact-info__row_first
		&_first {
		}
		// .contact-info__row_second
		&_second {
		}
		// .contact-info__row_third
		&_third {
		}
		// .contact-info__row_last
		&_last {
			max-width: rem(528);
		}
	}
	// .contact-info__title
	&__title {
		color: $neutral-60;
	}
	// .contact-info__link-list
	&__link-list {
		&:not(.contact-info__row_first &) {
			display: flex;
			align-items: center;
			gap: 2rem;
		}
		.contact-info__row_first & {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
	}
	// .contact-info__link-item
	&__link-item {
	}
	// .contact-info__link
	&__link {
		display: flex;
		align-items: center;
		.contact-info__row_second & {
			gap: 1rem;
		}
		.contact-info__row_third & {
			gap: 0.5rem;
		}
	}
}
.fw-image {
	height: rem(560);
}
.short-us {
	padding: 6rem 0;
	gap: 3rem;
	@media (max-width: $mobile) {
		gap: 2rem;
	}
	// .short-us__container
	&__container {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		@media (max-width: $tablet) {
			flex-direction: column;
		}
		._principles & {
			@media (max-width: $tablet) {
				gap: 3.5rem;
			}
		}
	}
	// .short-us__title
	&__title {
		flex: 0 0 rem(420);
		@media (max-width: $pc) {
			flex: 0 0 rem(300);
		}
		@media (max-width: $tablet) {
			flex: 1 1 auto;
		}
		@media (max-width: $mobile) {
			._principles & {
				font-size: 3rem;
				line-height: math.div(59, 48);
			}
		}
		&:not(._principles &) {
			color: $neutral-80;
		}
	}
	// .short-us__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2rem;
		max-width: rem(640);
		@media (max-width: $pc) {
			max-width: rem(621);
		}
		@media (max-width: $tablet) {
			max-width: none;
		}
	}
	// .short-us__text
	&__text {
		white-space: pre-line;
	}
	// .short-us__link
	&__link {
	}
	// .short-us__list
	&__list {
	}
}
.short-us-list {
	@extend %listCounter;
	// .short-us-list__list-item
	&__list-item {
	}
	// .short-us-list__title
	&__title {
	}
	// .short-us-list__text
	&__text {
	}
}
.feedbacks {
	padding: rem(112) 0 6rem;
	// .feedbacks__container
	&__container {
		display: flex;
		gap: 3rem;
	}
	// .feedbacks__col
	&__col {
		// .feedbacks__col_left
		&_left {
			flex: 0 0 rem(336);
		}
		// .feedbacks__col_right
		&_right {
		}
	}
	// .feedbacks__title
	&__title {
	}
	// .feedbacks__slider
	&__slider {
	}
	// .feedbacks__controls
	&__controls {
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
	// .feedbacks__button
	&__button {
		// .feedbacks__button_prev
		&_prev {
		}
		// .feedbacks__button_next
		&_next {
		}
	}
}
.feedback-slider {
	width: rem(640);
	overflow: visible !important;
	// .feedback-slider__wrapper
	&__wrapper {
		margin-bottom: 1.5rem;
	}
	// .feedback-slider__slide
	&__slide {
	}
}
.feedback-slide {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: rem(44.5);
	max-width: rem(640);
	padding: 2rem 1.5rem 2rem 2rem;
	background: $neutral-10;
	border-radius: 1rem;
	// .feedback-slide__rate
	&__rate {
	}
	// .feedback-slide__text
	&__text {
	}
	// .feedback-slide__from
	&__from {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .feedback-slide__from-name
	&__from-name {
		color: $neutral-90;
	}
	// .feedback-slide__from-about
	&__from-about {
		color: $neutral-80;
	}
}
