// fh-section
.fh-section {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f7f7f7;
	// .fh-section__inner
	&__inner {
	}
	// .fh-section__title
	&__title {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		line-height: math.div(240, 196);
		cursor: default;
		font-size: rem(60);
		@media (min-width: $mobileSmall) {
			@include adaptiveValue("font-size", 100, 70, 767.98, 414.98, 1);
		}
		@media (min-width: $mobile) {
			@include adaptiveValue("font-size", 148, 100, 1023.98, 767.98, 1);
		}
		@media (min-width: $tablet) {
			@include adaptiveValue("font-size", 196, 148, $containerWidth, 1023.98, 1);
		}
		&::before {
			content: "";
			position: absolute;
			top: -2rem;
			left: percent(133, 1082);
			width: percent(958, 1082);
			height: percent(409, 445.5);
			background: url("../../../../images/fishes/whale.png") no-repeat center / contain;
			@media (min-width: $mobile) {
				top: -1rem;
			}
		}
		span {
			&:first-child {
				z-index: 1;
			}
			&:last-child {
				margin-top: -34.5px;
			}
		}
	}
}

// short-about
.short-about {
	padding: rem(200) 0 rem(280);
	@media (max-width: $pc) {
		padding: 6rem 0 2.5rem;
	}
	@media (max-width: $mobile) {
		padding: 6rem 0;
	}
	// .short-about__container
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .short-about__inner
	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: rem(48);
		text-align: center;
		max-width: rem(865);
		@media (max-width: $pc) {
			max-width: rem(622);
		}
		&::before {
			content: "";
			display: block;
			width: 190px;
			height: 81px;
			background: url("../../../../images/fishes/whale-sm.png") no-repeat center / contain;
		}
	}
	// .short-about__title
	&__title {
		max-width: rem(865);
	}
	// .short-about__button
	&__button {
	}
}

// services
.services {
	// .services__container
	&__container {
	}
	// .services__inner
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: rem(96) 0;
		gap: rem(48);
	}
	// .services__heading
	&__heading {
	}
	// .services__grid
	&__grid {
		display: flex;
		align-self: stretch;
		gap: 2rem;
		overflow-x: auto;
		@extend %hidescroll;
		@media (max-width: $pc) {
			gap: 1.5rem;
		}
		@media (max-width: $tablet) {
			margin: 0 -2.5rem;
			padding: 0 2.5rem;
		}
		@media (max-width: $mobile) {
			gap: 1rem;
		}
	}
	// .services__card
	&__card {
	}
	// .services__more-button
	&__more-button {
	}
}
.service-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
	flex: 0 1 rem(416);
	min-height: rem(472);
	min-width: rem(299);
	padding: rem(64) rem(40);
	border-radius: rem(24);
	background-color: $neutral-10;
	transform-style: preserve-3d;
	@media (max-width: $pc) {
		padding: 2.5rem 1.5rem;
		min-height: rem(371);
	}
	// .service-card__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(25);
		transform-style: preserve-3d;
	}
	// .service-card__number
	&__number {
		position: relative;
		font-weight: 900;
		font-size: rem(64);
		line-height: math.div(78, 64);
		transform-style: preserve-3d;
		&.text-red {
			&::before {
				content: "";
				position: absolute;
				top: 13px;
				left: -16px;
				width: 119px;
				height: 56px;
				background: url(../../../../images/fishes/sailfish.png) no-repeat center / contain;
				transform: translateZ(20px);
			}
		}
		&.text-blue {
			&::before {
				content: "";
				position: absolute;
				top: 13px;
				left: -16px;
				width: 119px;
				height: 56px;
				background: url(../../../../images/fishes/blue-whale.png) no-repeat center / contain;
				transform: translateZ(20px);
			}
		}
		&.text-purple {
			&::before {
				content: "";
				position: absolute;
				top: 13px;
				left: -16px;
				width: 119px;
				height: 56px;
				background: url(../../../../images/fishes/shark.png) no-repeat center / contain;
				transform: translateZ(20px);
			}
		}
	}
	// .service-card__title
	&__title {
	}
	// .service-card__text
	&__text {
		color: $neutral-90;
	}
	// .service-card__button
	&__button {
		margin-top: auto;
	}
}

// cases
.cases {
	// .cases__container
	&__container {
	}
	// .cases__inner
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		padding: 6rem 0;
		@media (max-width: $mobileSmall) {
			padding: 2rem 0;
		}
	}
	// .cases__heading
	&__heading {
	}
	// .cases__slider
	&__slider {
	}
	// .cases__link
	&__link {
		margin-top: 2rem;
	}
}
.section-heading {
	// .section-heading__sub-title
	&__sub-title {
	}
}
.last-cases-slider {
	position: relative;
	width: 100%;
	max-width: rem(1312);
	display: flex;
	justify-content: center;
	&.swiper {
		padding: 0 rem(224);
		overflow: visible;
		@media (max-width: $pc) {
			padding: 0 rem(161);
		}
		@media (max-width: $tablet) {
			padding: 0;
		}
	}
	// .last-cases-slider__controls
	&__controls {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: $tablet) {
			display: none;
		}
	}
	// .last-cases-slider__arrow
	&__arrow {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(80);
		height: rem(80);
		transition: stroke 0.3s ease 0s;
		&:hover .icon-nav-blob__path {
			stroke: $turquoise;
		}
		@media (max-width: $pc) {
			width: rem(56);
			height: rem(56);
		}
		&_prev {
		}
		&_next {
			transform: rotate(-180deg);
		}
	}
	// .last-cases-slider__cards
	&__cards {
		max-width: 100%;
		box-shadow: 0px 4rem 4rem -2rem rgba(0, 0, 0, 0.24);
		border-radius: 1.5rem;
	}
	// .last-cases-slider__item
	&__item {
		border-radius: 1.5rem;
		background: $neutral-10;
		&.swiper-slide-prev {
			pointer-events: none;
		}
	}
	// .last-cases-slider__item-bg
	&__item-bg {
		pointer-events: none;
		position: absolute;
		inset: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 27.63%, rgba(0, 0, 0, 0.7) 100%);
		&:not(.swiper-slide-active &) {
			border-radius: 1.6rem;
		}
	}
	// .last-cases-slider__img
	&__img {
		pointer-events: none;
		&:not(.swiper-slide-active &) {
			border-radius: 1.6rem;
		}
		@media (max-width: $mobile) {
			min-height: rem(565);
			object-fit: contain;
		}
		@media (max-width: $mobileSmall) {
			min-height: rem(501);
		}
	}
	// .last-cases-slider__item-content
	&__item-content {
		position: absolute;
		inset: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		gap: 1rem;
		padding: rem(56) rem(48);
		color: $neutral-10;
		@media (max-width: $pc) {
			padding: 2.5rem 2rem;
		}
		@media (max-width: $mobile) {
			padding: 2rem;
		}
	}
	// .last-cases-slider__item-title
	&__item-title {
	}
	// .last-cases-slider__item-subtitle
	&__item-subtitle {
		max-width: rem(336);
		@media (max-width: $tablet) {
			max-width: rem(266);
		}
		@media (max-width: $mobile) {
			max-width: rem(292);
		}
	}
	// .last-cases-slider__item-link
	&__item-link {
	}
}

// clients
.clients {
	position: relative;
	background: #f7f7f7;
	padding: rem(104) 0;
	@media (max-width: $pc) {
		padding: 6rem 0;
	}
	// .clients__container
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .clients__inner
	&__inner {
		max-width: rem(864);
	}
	// .clients__heading
	&__heading {
		// position: relative;
		z-index: 1;
		&:not(:last-child) {
			margin-bottom: rem(64);
		}
	}
	// .clients__grid
	&__grid {
		// position: relative;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@extend %hidescroll;
		@media (max-width: $mobile) {
			flex-wrap: nowrap;
			justify-content: stretch;
			overflow-x: scroll;
			margin: 0 -1rem;
			padding: 0 1rem;
		}
		&::before {
			content: "";
			position: absolute;
			inset: 0;
		}
	}
	// .clients__grid-item
	&__grid-item {
		z-index: 1;
		position: relative;
		flex: 1 1 25%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: rem(13) 1.5rem;
		max-height: rem(80);
		@media (max-width: $tablet) {
			flex: 0 0 rem(228);
		}
		@media (max-width: $mobile) {
			padding: 1.5rem;
			flex: 0 0 fit-content;
			max-height: 6rem;
		}
		@media (min-width: $mobile) {
			&:nth-child(1) {
				border-bottom: 2px solid #f7f7f7;
				border-right: 2px solid #f7f7f7;
			}
			&:nth-child(2),
			&:nth-child(3) {
				border-left: 2px solid #f7f7f7;
				border-bottom: 2px solid #f7f7f7;
				border-right: 2px solid #f7f7f7;
			}
			&:nth-child(4) {
				border-left: 2px solid #f7f7f7;
				border-bottom: 2px solid #f7f7f7;
			}
			&:nth-child(5) {
				border-top: 2px solid #f7f7f7;
				border-right: 2px solid #f7f7f7;
			}
			&:nth-child(6),
			&:nth-child(7) {
				border-left: 2px solid #f7f7f7;
				border-top: 2px solid #f7f7f7;
				border-right: 2px solid #f7f7f7;
			}
			&:nth-child(8) {
				border-left: 2px solid #f7f7f7;
				border-top: 2px solid #f7f7f7;
			}
		}
		img {
			scale: 0.663;
		}
	}
}

.section-heading {
	// .section-heading__title
	&__title {
	}
	// .section-heading__sub-title
	&__sub-title {
	}
}

// calc
.calc {
	// .calc__container
	&__container {
	}
	// .calc__inner
	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: rem(176) rem(64);
		background: radial-gradient(30.03% 42.39% at 68.19% 50.9%, rgba(255, 187, 152, 0.25) 0%, rgba(255, 173, 136, 0) 91.15%);
	}
	// .calc__block
	&__block {
	}
}

// from-blog
.from-blog {
	// .from-blog__container
	&__container {
	}
	// .from-blog__inner
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4rem;
		padding: rem(96) 0 rem(200);
	}
	// .from-blog__heading
	&__heading {
	}
	// .from-blog__grid
	&__grid {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
	// .from-blog__grid-item
	&__grid-item {
	}
	// .from-blog__link
	&__link {
	}
}
