.overview {
	padding: 6rem 0;
	@media (max-width: $mobile) {
		padding: 4rem 0 6rem;
	}
	// .overview__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
	}
	// .overview__content
	&__content {
	}
	// .overview__paggination
	&__paggination {
	}
}
.folio-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3rem 2rem;
	padding: rem(112) 0 0;
	@media (max-width: $pc) {
		gap: 3rem 1.5rem;
	}
	@media (max-width: $mobile) {
		padding-top: 3rem;
	}
	@media (max-width: $mobile) {
		grid-template-columns: 1fr;
		gap: 3.5rem;
	}
	.next-works & {
		padding: 0;
	}
	// .folio-grid__figure
	&__figure {
	}
}
.folio-figure {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	flex: 0 1 calc(50% - 1rem);
	&:hover {
		.folio-figure__image {
			box-shadow: $imageShadow;
			border-radius: 1.5rem;
		}
		.folio-figure__link {
			pointer-events: all;
			opacity: 1;
			transform: translate(0);
		}
	}
	// .folio-figure__image
	&__image {
		padding-top: 65.314%;
		overflow: hidden;
		transition: all 0.5s ease 0s;
	}
	// .folio-figure__figcap
	&__figcap {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .folio-figure__title
	&__title {
		max-width: rem(304);
	}
	// .folio-figure__sub-title
	&__sub-title {
		max-width: rem(304);
	}
	// .folio-figure__link
	&__link {
		pointer-events: none;
		opacity: 0;
		transform: translate(0px, 100%);
		position: absolute;
		top: 0;
		right: 1rem;
		transition: all 0.5s ease 0s;
	}
}
