.case-hero {
	// .case-hero__image
	&__image {
		height: calc(100vh - rem(136));
	}
	// .case-hero__info
	&__info {
		padding: 2rem 0px rem(96);
	}
	// .case-hero__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2.5rem;
	}
	// .case-hero__heading
	&__heading {
		display: flex;
		align-items: center;
		gap: 2rem;
	}
	// .case-hero__button
	&__button {
	}
	// .case-hero__title
	&__title {
	}
	// .case-hero__info-block
	&__info-block {
	}
}
.blog-item {
	// .blog-item__tag
	&__tag {
	}
}
.info-block {
	display: flex;
	align-items: center;
	gap: 4rem;
	// .info-block__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
	}
	// .info-block__category
	&__category {
		@extend .capt-1;
		color: $neutral-80;
	}
	// .info-block__answer
	&__answer {
		@extend .p5;
		color: $neutral-90;
		font-family: $primary-fontFamily;
	}
	// .info-block__site-tags
	&__site-tags {
	}
}
