// <SELECT>
// Сніппет (HTML): sel
.select {
	min-width: 0;
	position: relative;
	scale: 0;
	transition: scale 0.2s ease 0s;
	.menu-open & {
		scale: 1;
		transition: scale 0.3s ease 0.6s;
	}
	// .select__body
	&__body {
		position: relative;
	}
	// .select__title
	&__title {
		cursor: pointer;
		width: 100%;
		border-radius: 2rem;
		background: rgba(255, 255, 255, 0.09);
		text-align: left;

		font-family: $secondary-fontFamily;
		font-size: 1rem;
		line-height: math.div(19, 14);
		color: $neutral-10;
	}
	// .select__value
	&__value {
		display: flex;
		min-width: 0;
		align-items: center;
		height: rem(35);
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		> * {
			flex: 1 1 auto;
		}
		&:after {
			content: url("/images/svg/chevron.svg");
			align-self: stretch;
			flex: 0 0 10px;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			._select-open & {
				transform: rotate(-180deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__content
	&__content {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		position: absolute;
		top: calc(100% - rem(1));
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background: rgba(255, 255, 255, 0.09);
		padding: 10px 0px 5px 0px;

		font-family: $secondary-fontFamily;
		font-size: rem(16);
		line-height: math.div(19, 14);
		color: $neutral-10;
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальна висота
		max-height: 200px;
		// Стилі скроллбару
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		// padding: 5px 15px;
		color: inherit;
		&:not(:nth-child(1)) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&._select-selected {
			background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #d9d9d9;
			}
		}
	}

	// Конструкція додаткових даних
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	// Стан селекту
	&._select-open {
		z-index: 5;
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

// Тег
._select-tag {
	cursor: pointer;
}
