// @import "popup";
// @import "tabs";
// @import "spollers";
// @import "maps";
// @import "showmore";
// @import "fullscreen";
// @import "sticky";
// @import "cursor";
// @import "fullpage";
// @import "ripple";
// @import "swiper";

.section-heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	text-align: center;
	// .section-heading__title
	&__title {
	}
	// .section-heading__sub-title
	&__sub-title {
		color: $neutral-80;
	}
}

.tag {
	display: inline-block;
	padding: 0.25rem 1rem;
	border: 1px solid $neutral-50;
	border-radius: 2.5rem;
	@extend .capt-1;
}

.page-heading {
	padding-top: 4rem;
	// .page-heading__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
	}
	// .page-heading__button
	&__button {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-size: 1rem;
		line-height: math.div(20, 16);
		font-weight: 500;
		letter-spacing: 0.05em;
		color: $neutral-100;
		span {
			padding: 0.5rem;
			background-color: rgba(0, 0, 0, 0.09);
			border-radius: 50%;
		}
	}
	// .page-heading__title
	&__title {
	}
}
