// @import "popup";
// @import "tabs";
// @import "spollers";
// @import "maps";
// @import "showmore";
// @import "fullscreen";
// @import "sticky";
// @import "cursor";
// @import "fullpage";
// @import "ripple";
// @import "swiper";
@import "paggination";

.section-heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	text-align: center;
	// .section-heading__title
	&__title {
	}
	// .section-heading__sub-title
	&__sub-title {
		color: $neutral-80;
	}
}
.page-heading {
	padding-top: 4rem;
	// .page-heading__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
	}
	// .page-heading__button
	&__button {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-size: 1rem;
		line-height: math.div(20, 16);
		font-weight: 500;
		letter-spacing: 0.05em;
		color: $neutral-100;
		span {
			padding: 0.5rem;
			background-color: rgba(0, 0, 0, 0.09);
			border-radius: 50%;
		}
	}
	// .page-heading__title
	&__title {
	}
}
.icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 36px;
	background-color: $neutral-30;
	border-radius: 50%;
}
.blog-filter {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	// .blog-filter__list-item
	&__list-item {
	}
	// .blog-filter__button
	&__button {
		padding: 3px 16px 5px;
		border: 1px solid $neutral-100;
		border-radius: 2.5rem;
		@extend .capt-1;
		&._active {
			background-color: $neutral-100;
			color: $neutral-10;
		}
	}
}
.tags {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	// .tags__item
	&__item {
		@extend .tag;
	}
}
.tag {
	display: inline-block;
	padding: 0.25rem 1rem;
	border: 1px solid $neutral-50;
	border-radius: 2.5rem;
	@extend .capt-1;
}
.site-tags {
	display: flex;
	align-items: center;
	padding: 0.5rem 0px;
	gap: 1.5rem;
	// .site-tags__list-item
	&__list-item {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
}
.site-tag {
	@extend .p5;
	font-family: $primary-fontFamily;
	color: $neutral-90;
	&::before {
		content: "";
		display: inline-block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
	}
	// .site-tag_design
	&_design {
		&::before {
			background-color: $red;
		}
	}
	// .site-tag_dev
	&_dev {
		&::before {
			background-color: $blue;
		}
	}
	// .site-tag_support
	&_support {
		&::before {
			background-color: $purple;
		}
	}
}
.blog-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	padding: 1.5rem 4rem 2rem;
	border: 1px solid $neutral-40;
	border-radius: 1.5rem;
	// .blog-item__tag
	&__tag {
	}
	// .blog-item__title
	&__title {
	}
	// .blog-item__date
	&__date {
		color: $neutral-90;
		@extend .p6;
	}
}
.separator {
	display: block;
	background-color: $neutral-50;
	// .separator_vertical
	&_vertical {
		width: 2px;
	}
	// .separator_hoz
	&_vertical {
		height: 2px;
	}
}
